{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="text-center">
        <h1>Importez les mesures</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="offset-4 col-lg-6" id="import">
                <ul>
                    {{ form_start(formImport) }}
                    <li>{{form_widget(formImport.saisie) }}</li>
                    <br>
                    <li>Salle :  {{form_widget(formImport.salle) }}</li>
                    <br>
                    <button type="submit" class="btn btn-sm btn-success" name="enregistrer" value="enregistrer">Enregistrer</button>
                    {{ form_end(formImport) }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}