{% extends '/base.html.twig' %}


{% block body %}

    <div class="col-md-12">
        <div class="row">
        <div class="col-lg-6 text-center">
            <h4>Lorem ipsum dolor</h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid assumenda commodi cum et incidunt
            molestiae reiciendis repellendus soluta, voluptatem! Architecto consequuntur delectus dignissimos ea eum fuga
            nemo, officia optio perspiciatis placeat quae rem repellendus, sit totam veritatis vitae voluptatem!</p>
              <p>Amet corporis dicta dignissimos dolor eos et hic itaque, labore laborum neque nisi odio, temporibus. Corporis
            cupiditate delectus deserunt fuga fugit molestiae non officia optio quaerat reprehenderit? Ducimus minima modi
            molestiae placeat voluptatibus. Ab aut eos et iusto quidem sint.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eaque excepturi fugiat natus quasi
                quibusdam quisquam quod? Amet dolor eos in ipsa odit officia reprehenderit sit tenetur! Excepturi,
                neque, voluptatum. A asperiores, culpa nihil quas quis ratione reiciendis sit ut.</p>
         </div>
            <div class="row col-lg-3">
                <img src="{{ asset('image/logo.png')}}"alt="" />
            </div>
    </div>
</div>




{% endblock %}
